body {
    background-color: #F2F2EB;
    font-family: "Roboto Mono", serif;
}

.maincontainer {
    position: relative;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

/* type hierarchy */
h1 {
    font-family: 'Editorial New';
    color: black;
    text-align: left;
    font-size: 6em;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2px;
    margin-left: 120px;
    margin-right: 120px;
}

h2 {
    font-family: 'Editorial New';
    color: #ff0000;
    text-align: left;
    font-family: 'Editorial New';
    font-style: normal; 
    font-size: 4em;
    font-weight: 200;
    margin-left: 120px;
    margin-right: 120px;
    width: 85%;
}

h3 {
    font-size: 1.75em;
    font-weight: 300;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 3px;
}

h4 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400
}

h5 {
    text-align: left;
    font-size: 1.2em;
}

h6 {
    text-align: left;
    font-size: 1.2em;
}

p {
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
    margin-bottom: 1px;
}


/* special text formatting */
#topnav {
    text-align: center;
    font-size: 1.2em;
    margin-top: 6%;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

.creds_container {
    position: left;
    text-align: left;
    margin-left: 120px;
    padding-bottom: 3%;
}

.footer-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top-style: solid;
    padding: 10px;
    padding-bottom: 18%;
}


a:link {
    color: #ff0000;
}

a:visited {
    color: #0000ff;
}

a:hover {
    color: #e6ac25;
}



/* to style h1 and h2 typeface over imagery add this class */

.centeredtextoverlay-main {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    padding-bottom: 10%;
    width: 100%;
}

/* to position imagery */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
}

.imagecontainer {
    position: relative;
    padding-top: 2%;
    text-align: center;
}

.underimage {
    opacity: 0.8;
}

/* tables and lists */

ol {
    text-align: left;
    margin-left: 150px;
    margin-bottom: 50px;
}

.ul_no-bullets {
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
}

#footer {
    text-align: left;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    margin-top: 40px;
}

th,
td {
    padding-top: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 15px;
}

/*  HELP */
.copyright {
    position: fixed;
    padding-left: auto;
    padding-right: auto;
    bottom: 5%;
    width: 100%;
    color: red;
    border: 0;
    text-align: center;
}

/*  what is this for? */
#main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


 /* Editoral New typeface for headers */

@font-face {
    font-family: 'Editorial New';
    src: url('Font/PPEditorialNew-Free for personal use/PPEditorialNew-Regular.otf') format('opentype');
    font-weight: 400;
    src: url('Font/PPEditorialNew-Free for personal use/PPEditorialNew-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
 }

@font-face {
    font-family: 'Editorial New';
    src: url('Font/PPEditorialNew-Free for personal use/PPEditorialNew-Ultrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
 }

 @font-face {
    font-family: 'Editorial New';
    src: url('Font/PPEditorialNew-Free for personal use/PPEditorialNew-UltraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
 }

 @font-face {
    font-family: 'Editorial New';
    src: url('Font/PPEditorialNew-Free for personal use/PPEditorialNew-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
 }

 @font-face {
    font-family: 'Editorial New';
    src: url('Font/PPEditorialNew-Free for personal use/PPEditorialNew-UltralightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
 }

#close-modal {
    margin-top: 10px;
    padding: 5px 10px
}

#modal {
    display: none;
    position: fixed;
    height: 50%; 
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#modal-content {
    max-height: calc(80vh - 80px);
    /* Allow for padding and title */
    overflow: scroll;
}
